* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    
}
.header {
    background-color: #1F2937;
    color: white;
    height: 400px;
    
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
}
.nav-bar a {
    list-style: none;
    text-decoration: none;
    color: white;
}
.links {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    gap: 30px;
}
.hero {
    height: 300px;
    width: full-width;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    /* border: 4px solid white; */
}
.hero-text {
    height: 250px;
    width: 400px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* border: 4px solid white; */
}
.hero-text h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}
.hero-text button {
    color: white;
    width: 90px;
    height: 30px;
    margin-top: 10px;
    background-color: #3882F6;
    border-radius: 10%;
    border: 0;
}

.sub-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 400px;
    height: 200px;
    background-color: darkgray;
}




.container {
    height: 350px;
    /* border: 4px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    
}
.container h1 {
    padding-bottom: 50px;
    padding-top: 25px;
}
.cards-container {
    width: 600px;
    height: 200px;
    margin-bottom: 10px;
    margin-top: 0;
    /* border: 4px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards-container p {
    text-align: center;
    font-size: 12px;
}
.cards-sub-container {
    width: 100px;

}
.cards {
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 10%;
    margin-bottom: 5px;
}






.quote {
    background-color: #E5E7EB;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote-container {
    width: 400px;
    font-size: 18px;
}
.quote-container quote {

}
.quote-container strong {
    float: right;
    padding: 5px;
}
.cta-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta-blue-container {
    background-color: #3882F6;
    color: white;
    border-radius: 1%;
    height: 75px;
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cta-blue-container button {
    color: white;
    background-color: #3882F6;
    width: 80px;
    height: 30px;
    border: 1px solid white;
    border-radius: 10%;
}
.cta-blue-container button:hover {
    background-color: grey;
}
#cta-head {
    font-size: 14px;
}
#cta-subtext {
    font-size: 10px;
}
.footer {
    background-color: #1F2937;
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}